.profileanalysis-main-container
    font-family: 'Vesper Libre', serif
    display: flex
    margin-top: 10vh
    margin-left: 1vw

.analysis-charts
    display: flex
    width: 50vw
    flex-wrap: wrap
    margin-left: 20vw

.pie-1
    width: 10vw
.pie-2
    width: 10vw