@import './colorSchmes.sass'

%flex
    display: flex
    
.register-container-1
    @extend %flex
    width: 100vw
    height: 100vh
    background: #b30000
    justify-content: center
    align-items: center

.register-paper
    width: 30vw
    height: 75vh
    @extend %flex
    flex-direction: column
    justify-content: center
    align-items: center

.register-text
    margin-bottom: 10vh

.btn-register
    @extend %flex
    align-items: center

.profile-picture
    margin-left: 6vw