.sidebar
    list-style-type: none
    // display: flex
    // flex-direction: column
    border: 2px solid black
    height: 500px
    text-align: center
    // align-items: center

.sidebar-item
    // padding-right: 80px
    padding-left: 0px

a 
    margin: 0px 0px
