.behind-video
    justify-content: center
    align-items: center
    background: black
    height: 51.5vh

.video-navigator
    position: relative
    width: 100%
    bottom: 6.8vh
    height: 6.8vh
    background: rgba(255,255,255, .2)
    display: flex
    justify-content: space-around
    align-items: center

input[type='range']
    position: relative
    // right: 0
    // margin: auto

.slider-container-2
    display: none
    border: 1px solid red
    // width: 50px
    // height: 100px

.slider-container:hover > div.slider-container-2
    display: block

.slider-container
    display: flex

.volume-up-button, .volume-down-button, .forward-button, .rewind-button, .mute-button, .play-button, .unmute-button, .pause-button
    background: transparent
    border: none
    outline: none

.fa-undo-alt, .fa-redo-alt, .fa-volume-up, .fa-volume-down, .fa-volume-mute, .fa-play, .fa-pause, .fa-volume-off
    color: white


.volume-up-button:active, .volume-down-button:active, .forward-button:active, .rewind-button:active, .mute-button:active, .play-button:active, .unmute-button:active, .pause-button:active
    animation: onClick .1s linear

@keyframes onClick
    0%
        transform: scale(.8)
    100%
        transform: scale(1)
